<!DOCTYPE html>
<html lang="{{ $.Site.Language.Locale }}">
	<head >
		{{- partial "head.html" . -}}
	</head>
	<body>
		<header id="header" class="header" aria-label="{{ i18n "ariaHeader" }}" tabindex="-1">
			{{- partial "header.html" . -}}
		</header>
		<main id="main" aria-label="{{ i18n "ariaMain" }}" tabindex="-1">
			{{- block "main" . }}{{- end }}
		</main>
		<div class="dinkus">*&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*</div>
		<footer id="footer" class="siteFooter" aria-label="{{ i18n "ariaFooter" }}" tabindex="-1">
			{{- partial "footer.html" . -}}
		</footer>
	</body>
</html>
